# =============== #
 
# Unity generated #
 
# =============== #
 
Temp/
 
Obj/
 
UnityGenerated/

Library/
.vs/
Build/
 
 
 
# ===================================== #
 
# Visual Studio / MonoDevelop generated #
 
# ===================================== #
 
ExportedObj/
 
*.svd
 
*.userprefs
 
*.csproj
 
*.pidb
 
*.suo
 
*.sln
 
*.user
 
*.unityproj
 
*.booproj

*.apk
 
 
 
# ============ #
 
# OS generated #
 
# ============ #
 
.DS_Store
 
.DS_Store?
 
._*
 
.Spotlight-V100
 
.Trashes
 
Icon?
 
ehthumbs.db
 
Thumbs.db
 
build_info.txt
 
ProjectVersion.txt

Thumbs.db.meta
*.ide
*.ide-shm
*.ide-wal
